.App {
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.dot.online {
  background-color: green;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
