body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

input {
  padding: 7px;
  font-size: 1.2rem;
}

.convert > div {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.products {
  display: flex;
  text-align: left;
}

.products > div {
  flex: 1;
}
