.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.converter > div {
  padding: 10px 0;
  font-size: 1.2rem;
}

.converter > div input {
  padding: 10px;
  font-size: 1.1rem;
}

.price {
  background-color: bisque;
  border-radius: 4px;
  padding: 3px;
  font-size: 0.9rem;
}

.list-item {
  margin-bottom: 10px;
}
