body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  height: 100vh;
}

.container > div {
  flex: 1;
  padding: 10px;
}

.container > div:last-child {
  border-left: solid 2px #ddd;
}

.list-item {
  cursor: pointer;
}

.list-item:hover {
  text-decoration: underline;
}
